# Environment Variables for GTC Code

# File paths for log files
ETL_to_table_daily_log_file = 
ETL_Sales_to_DB_log_file = 
Delete_log_file = 
ETL_Expences_to_DB_log_file = 
Query_log_file = 
Sales_CSV_Map_log_file = 
Backup_log =
Dashboard_log = 

# File paths for CSV inputs
ETL_to_table_daily_csv_input = 
ELT_Sales_to_DB_square_CSV_input = 
ETL_Sales_to_DB_shopify_CSV_input = 
ETL_Expences_to_DB_BP_CSV_input = 
ETL_Expences_to_DB_AB_CSV_input = 

# path for query files
lineitem_analysis_query = 

# Script output paths
ETL_to_table_daily_output = 
Royalties_report_output = 
CSV_map_output = 

# Database connection details
Mysql_host =
Mysql_user = 
Mysql_password = 
Mysql_database = 

#database table
square_raw =
shopify_raw = 
lineitem_analysis = 

SQLite_database = 

# Amex Card Members
Card_Member_1 = 
Card_Member_2 = 
Card_Member_3 = 
Card_Member_4 = 

# Amex Payment line
PMT_Line_1 = 
PMT_Line_2 = 

# CSV map files
Square_map_file = 
Shopify_map_file = 

CSV_maps_folder = 

#regex patterns
Sales_ETL_lineitem_patterns =

# shopify api
gtc-graphql-api_app_secret_key = 
Shopify_access_token = 
shopify_shop = 
shopify_api_version = 
shopify_log_level = 

gtc-graphql-retrieve-orders_app_api_key = 
gtc-graphql-retrieve-orders_app_secret_key = 

shopify-graphql-order-query = 