# Ignore environment variable files and logs
.env
*.db
logs/
*.log
data/
scripts output/
TO_DO.txt

.venv/
__pycache__/
.vscode/
SQL/
Database/

.DS_store


gtc-graphql-api/

check_endpointANDtoken.js

etl_pipeline/